
<%= render 'userinfo', user: @user %>

<h2>Diary</h2>

<table class="table table-hover table-inverse">
  <thead>
    <tr>
      <th>Day</th>
      <th>Title</th>
      <th>Diary</th>
    </tr>
  </thead>

  <tbody>

  </tbody>
</table>
